
img {
	border: 4px solid #ccc;
}

.img-container{
}

.texto-derecha:before{
	display: block;
	position: absolute;
	left: -20.2%;
	width: 4px;
	height: 100%;
	background-color: #ccc;
	content: " ";
	z-index: -1;
}

.texto-izquierda:before{
	display: block;
	position: absolute;
	right: -20.9%;
	width: 4px;
	height: 100%;
	background-color: #ccc;
	content: " ";
	z-index: -1;
}

#circle-final{
    color: white;
    text-transform: uppercase;
    text-align: center;
    max-width: 100%;
    width: 200px;
    height: 100%;
}

#circle-final #text {
	position: absolute;
	top: 0;
	left: 0;
    margin-top: 15%;
    margin-left: 25%;
    width: 50%;
    height: 70%;
    font-size: 100%;
}

#circle-final #circle {
    display: block;
	position: relative;
    border-radius: 50%;
	background-color: #FEC503;
	padding-bottom: 100%;
	height: 0;
	overflow: hidden;
	z-index: -1;
}




/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.texto-derecha:before,
	.texto-izquierda:before{
		right: 0;
		left: -17.2%;
	}
	#circle-final #text {
		font-size: 120%;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 550px) {
	#circle-final #text {
		font-size: 80%;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	#circle-final #text {
		font-size: 60%;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    #circle-final #text {
		font-size: 50%;
	}
}
