/* 
	@keyframes example {
	    from {background-color: red;}
	    to {background-color: yellow;}
	}

	@keyframes example {
	    0%   {background-color: red;}
	    25%  {background-color: yellow;}
	    50%  {background-color: blue;}
	    100% {background-color: green;}
	}


    @keyframes example {
	    0%   {background-color:red; left:0px; top:0px;}
	    25%  {background-color:yellow; left:200px; top:0px;}
	    50%  {background-color:blue; left:200px; top:200px;}
	    75%  {background-color:green; left:0px; top:200px;}
	    100% {background-color:red; left:0px; top:0px;}
	}

	animation-name: example;
    animation-duration: 4s;

    animation: example 2s;

	animation-iteration-count: 3 | infinite;

	animation-direction: reverse | alternate;

	animation-timing-function: linear | ease | ease-in | ease-out | ease-in-out;

 */

.caja{
	width: 200px;
	height: 200px;
	margin: 20px;
	border: 1px solid #000;
	background-color: steelblue;
	font-family: arial;
	font-size: 40px;
	text-align: center;
	color:#fff;
}

#caja1{
	

}

#caja1:hover{

}

#caja2{
	

}

#caja2:hover{

}

#caja3{
	

}

#caja3:hover{

}

