/* 

	@media screen and (min-width: 480px) {
	
	}

	@media print {
	
	}

 */
 body{
 	background-color: grey;
 }

.caja{
	width: 200px;
	height: 200px;
	margin: 20px;
	border: 1px solid #000;
	background-color: steelblue;
	font-family: arial;
	font-size: 40px;
	text-align: center;
	color:#fff;
}

#caja1{
	

}

#caja1:hover{

}

#caja2{
	

}

#caja2:hover{

}

#caja3{
	

}

#caja3:hover{

}

@media screen and (max-width: 600px) {
	.caja{
		background-color: green;
	}
}

@media screen and (max-width: 480px) {
	.caja{
		background-color: red;
		width: 100%;
	}
}

@media screen and (orientation: landscape) {
	body{
		background-color: yellow;
	}
}

@media print {
	.caja{
		background-color: white;
	}
}

@media (orientation: portrait) {
	body{
		background-color: brown;
	}
}



